@use "./utils/normalize";
@use "./utils/reset";
@use "./utils/helpers";
@use "./blocks/mainContainer";
@use "./blocks/btn";
@use "./blocks/banner";
@use "./blocks/how";
@use "./blocks/howCard_2";
@use "./blocks/reward-cards";
// @use "./blocks/tournament";
// @use "./blocks/trick";
// @use "./blocks/trickCard";
// @use "./blocks/feature-showcase";
// @use "./blocks/mechanic";
// @use "./blocks/table";
// @use "./blocks/accordion"; 
