@use "./mixins" as mixin;

:root {
  --desktop-menu-width: 256px;
  // --desktop-menu-width: 72px;

  --menu-width: 0px;
  --content-vw: calc(100vw - var(--menu-width));
}

.sec-top-spacing {
  margin-top: 120px;
}

.sec-top-padding-spacing {
  padding-top: 120px;
}

.sec-bottom-padding-spacing {
  padding-bottom: 120px;
}

@media (max-width: 1023px) {
  .sec-top-spacing {
    @include mixin.fluid-prop(margin-top, 70px, 120px, 360px, 1023px);
  }
  .sec-top-padding-spacing {
    @include mixin.fluid-prop(padding-top, 70px, 120px, 360px, 1023px);
  }

  .sec-bottom-padding-spacing {
    @include mixin.fluid-prop(padding-bottom, 70px, 120px, 360px, 1023px);
  }
}
