@use "../utils/mixins" as mixin;

$prize-pool-accent: #c79219;

.banner {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(#181921 0%, #181921 100%);
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 32%;
    height: 100%;
    @include mixin.fluid-prop(width, 260px, 652px, 360px, 1920px);
    @include mixin.fluid-prop(padding-block, 20px, 60px, 1367px, 1920px);
    @include mixin.fluid-prop(padding-left, 20px, 60px, 1367px, 1920px);
    padding-right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;

    &--second {
      @include mixin.fluid-prop(padding-block, 20px, 60px, 1367px, 1920px);
      @include mixin.fluid-prop(padding-inline, 20px, 60px, 1367px, 1920px);
    }
    &--third {
      top: 0;
      left: auto;
      right: 0;
      width: 50%;
      height: 100%;
      @include mixin.fluid-prop(padding-block, 16px, 60px, 1367px, 1920px);
      @include mixin.fluid-prop(padding-inline, 16px, 60px, 1367px, 1920px);
      padding-left: 0;
      font-family: "Sofia Sans Condensed", sans-serif;
      letter-spacing: 1px;
    }
  }

  &__customLogo {
    @include mixin.fluid-prop(width, 107px, 196px, 576px, 1920px);
    height: auto;
  }

  &__title {
    font-family: "Sofia Sans Extra Condensed", "Arial", sans-serif; 
    // font-size: 32px;
    @include mixin.fluid-prop(font-size, 40px, 72px, 360px, 1920px);
    display: -webkit-box;
    overflow-wrap: break-word;
    text-transform: uppercase;
    font-weight: 900;
    @include mixin.fluid-prop(margin-bottom, 0px, 12px, 1367px, 1920px);
    &--second {
      font-family: inherit;
      @include mixin.fluid-prop(margin-bottom, 10px, 24px, 576px, 1920px);
    }
    &--third {
      font-family: inherit;
      @include mixin.fluid-prop(margin-bottom, 10px, 24px, 576px, 1920px);
    }
  }

  &__subtitle {
    font-family: "Sofia Sans Condensed", "Arial", sans-serif;
    width: 85%;
    font-size: 18px;
    line-height: normal;
    display: -webkit-box;
    overflow-wrap: break-word;
    // color: #bfbfcb;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    &--third {
      width: 40%;
      font-family: inherit;
      text-transform: none;
      color: #bfbfcb;
    }
    &--accent {
      color: #ffffff;
    }
    &--accentPool {
      position: relative;
      display: inline-block;
      margin-left: 4px;
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: -4px;
        display: block;
        width: calc(100% + 8px);
        height: calc(100% + 2px);
        z-index: -1;
        // margin-top: 4px;
        background: $prize-pool-accent;
        border-radius: 2px;
      }
      // border-radius: 2px;
      // background: $prize-pool-accent;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 10px;
  }

  &__btnBlock {
    display: flex;
    align-items: center;
    @include mixin.fluid-prop(gap, 8px, 28px, 577px, 1920px);
    // gap: 28px;
    @include mixin.fluid-prop(margin-top, 20px, 60px, 1367px, 1920px);
  }
  &__btnBlockIcons {
    display: flex;
    align-items: center;
  }
  &__btnIcon {
    @include mixin.fluid-prop(width, 32px, 50px, 577px, 1920px);
    aspect-ratio: 1 / 1;
  }
  &__btn {
    display: flex;
    max-width: 360px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    // padding: 10px 16px;

    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #e5ff3a;
    background: #e5ff3a;
    text-transform: uppercase;
    text-decoration: none;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #2a2e0a;

    &:hover {
      border: 1px solid #d1ec26;
      background: #d1ec26;
    }
    &--second {
      @include mixin.fluid-prop(margin-top, 10px, 30px, 1367px, 1920px);
    }
    &--third {
    }
    &--withMobileIcons {
      width: calc(100% - 100px);
    }
  }
}

.btn.banner__btn {
  margin-left: 0;
}

@media (max-width: 1700px) {
  .banner {
    &__subtitle {
    }
  }
}
@media (max-width: 1500px) {
  .banner {
    &__subtitle {
    }
  }
}
@media (max-width: 1366px) {
  .banner {
    &__content {
      width: 42%;
      &--second {
        @include mixin.fluid-prop(padding-block, 16px, 60px, 577px, 1366px);
        @include mixin.fluid-prop(padding-inline, 16px, 60px, 577px, 1366px);
      }
      &--third {
        width: 44%;
        @include mixin.fluid-prop(padding-block, 16px, 60px, 577px, 1366px);
        @include mixin.fluid-prop(padding-right, 16px, 60px, 577px, 1366px);
      }
    }
    &__customLogo {
    }
    &__title {
    }
    &__subtitle {
      // width: 100%;
      &--third {
        width: 75%;
      }
    }
    &__img {
    }
    &__btn {
      // @include mixin.fluid-prop(margin-top, 8px, 60px, 577px, 1366px);
    }
  }
}
@media (max-width: 1023px) {
  .banner {
    &__content {
      // width: 52%;
    }

    &__customLogo {
    }

    &__title {
    }

    &__subtitle {
      &--accent {
      }
    }

    &__img {
    }

    &__btn {
      // @include mixin.fluid-prop(width, 168px, 360px, 576px, 1920px);
      @include mixin.fluid-prop(height, 36px, 50px, 576px, 1920px);
      // @include mixin.fluid-prop(font-size, 12px, 26px, 576px, 1920px);
    }
  }
}
@media (max-width: 860px) {
  .banner {
    &__content {
    }
    &__customLogo {
    }
    &__title {
    }
    &__subtitle {
      &--accent {
      }
    }
    &__img {
    }
    &__btn {
    }
  }
}

@media (max-width: 576px) {
  .banner {
    &__content {
      width: 100%;
      @include mixin.fluid-prop(padding, 16px, 60px, 360px, 1920px);
      justify-content: start;
      &--second {
        padding-block: 24px;
      }
    }

    &__customLogo {
    }

    &__title {
      @include mixin.fluid-prop(margin-bottom, 10px, 12px, 360px, 1920px);
      &--second {
        @include mixin.fluid-prop(margin-bottom, 10px, 12px, 360px, 1920px);
      }
    }

    &__subtitle {
      width: 100%;
      &--accent {
      }
    }

    &__img {
    }
    &__btnBlock {
      gap: 20px;
      margin-top: 0;
      flex-direction: column;
    }
    &__btnBlockIcons {
      display: flex;
      align-items: center;
    }
    &__btnIcon {
      width: 50px;
    }
    &__btn {
      padding: 10px 16px;
      border-radius: 6px;
      margin: 0 auto;
      @include mixin.fluid-prop(margin-top, 22px, 30px, 360px, 576px);
      width: 100%;
      @include mixin.fluid-prop(height, 40px, 50px, 360px, 576px);
      @include mixin.fluid-prop(font-size, 14px, 18px, 360px, 576px);
      &--second {
        @include mixin.fluid-prop(margin-top, 30px, 30px, 360px, 576px);
      }
      &--third {
        @include mixin.fluid-prop(margin-top, 10px, 30px, 360px, 576px);
      }
    }
    &--withMobileIcons {
      width: 100%;
    }
  }
  .btn.banner__btn {
    margin-left: auto;
  }
}
