.mainContainer {
  width: 100%;
  //   padding: 32px 16px 32px 0;
  padding: 32px 16px;
  font-family: "Sofia Sans", "Arial", sans-serif;
  background-color: #14141A;
  container-type: inline-size;
  container-name: mainContainer;
  overflow: hidden;
  color: white;
}