@use "../utils/mixins" as mixin;
$breakpoint-mobile: 767px;

.mechanic {
  background-color: inherit;
  //   margin-bottom: 46px;
}

.mechanic-container {
@include mixin.fluid-prop(padding-top, 70px, 120px, 360px, 1023px);

  background-image: image-set(
    url("/img/ghost@1x.webp") 1x,
    url("/img/ghost@2x.webp") 2x
  );
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.mechanic-content {
  margin-left: auto;
  margin-right: clamp(20px, 5.3vw, 100px);
  max-width: 45%;
}

.mechanic-title {
  margin-bottom: 50px;
  font-size: clamp(32px, 2.08vw, 40px);
  font-weight: 900;
  color: #ffffff;
}

.mechanic-rules {
  width: 75%;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;

  font-size: clamp(16px, 0.92vw, 18px);
  font-weight: 400;
  color: #bfbfcb;
}

.mechanic-rules li {
  position: relative;
  padding-left: 19px;
  margin-bottom: 12px;
  font-size: 1rem;
  line-height: 1.5;
}

.mechanic-rules li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 7px;
  height: 7px;
  border-radius: 1px;
  background-color: #e5ff3a;
}

.highlight {
  font-weight: 900;
  color: #ffffff;
}

/* Стилі для блоку з приміткою */
.mechanic_note {
  margin-bottom: 30px;
  padding: 24px;
  background-color: #343761;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.coin-icon {
  /* Тут можна використати SVG або іконковий шрифт для монети */
  width: clamp(34px, 2.17vw, 42px);
  height: clamp(27px, 1.75vw, 34px);
  background-image: url("/img/coin.svg");
  background-repeat: no-repeat;
  background-size: contain; /* Забезпечує, що SVG повністю поміститься */
  background-position: center;
  flex-shrink: 0;
}

.mechanic_note-text {
  font-size: clamp(16px, 1vw, 24px);
  font-weight: 700;
  line-height: 1.2;
}

.mechanic_restriction {
  width: 75%;
  color: #bfbfcb;
  font-size: clamp(16px, 0.92vw, 18px);
  font-weight: 400;
}

.mechanic_image-block {
  display: none;
}

@media (max-width: 1367px) {
  .mechanic-container {
    background-image: image-set(
      url("/img/ghost_1366@1x.webp") 1x,
      url("/img/ghost_1366@2x.") 2x
    );
  }
}

@media (max-width: 1023px) {
//   @include mixin.fluid-prop(padding-top, 70px, 120px, 360px, 1023px);
}

@media (max-width: $breakpoint-mobile) {
  .mechanic {
    margin-inline: -16px;
  }

  .mechanic-container {
    // padding-block: 0;

    background-image: image-set(
      url("/img/ghost_360@1x.webp") 1x,
      url("/img/ghost_360@2x.webp") 2x
    );
    background-size: contain;
    background-position: bottom;
  }

  .mechanic-content {
    max-width: 100%;
    margin: 0;
  }

  /* На мобільному зображення було знизу, тому змінимо порядок */
  .mechanic-image-wrap {
    order: 2; /* Зображення йде другим */
    margin-top: 30px; /* Додатковий відступ */
  }

  .mechanic-content {
    order: 1; /* Контент йде першим */
        padding-inline: 16px;
  }

  .mechanic-title {
    margin-bottom: 30px;
  }

  .mechanic-rules {
    width: 100%;
    margin-bottom: 24px;
  }

  .mechanic-rules li {
    margin-bottom: 8px;
  }

  .mechanic_note {
    margin-bottom: 24px;
    padding: 16px;
    align-items: flex-start;
  }

  .mechanic_restriction {
    width: 100%;
  }
  .mechanic_image-block {
    display: block;
    height: 290px;
  }
}
